<%= form_for(@layer) do |f| %>
  <% if @layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layer.errors.count, "error") %> prohibited this layer from being saved:</h2>

      <ul>
      <% @layer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aryx %><br>
    <%= f.text_field :aryx %>
  </div>
  <div class="field">
    <%= f.label :aryy %><br>
    <%= f.text_field :aryy %>
  </div>
  <div class="field">
    <%= f.label :arydrag %><br>
    <%= f.text_field :arydrag %>
  </div>
  <div class="field">
    <%= f.label :zval %><br>
    <%= f.text_field :zval %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
