<%= form_for(@layer) do |f| %>
  <% if @layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layer.errors.count, "error") %> prohibited this layer from being saved:</h2>

      <ul>
      <% @layer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :drawdata %><br>
    <%= f.text_field :drawdata %>
  </div>
  <div class="field">
    <%= f.label :z_val %><br>
    <%= f.text_field :z_val %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
