<p id="notice"><%= notice %></p>

<h1>Listing Layers</h1>

<table>
  <thead>
    <tr>
      <th>Aryx</th>
      <th>Aryy</th>
      <th>Arydrag</th>
      <th>Zval</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @layers.each do |layer| %>
      <tr>
        <td><%= layer.aryx %></td>
        <td><%= layer.aryy %></td>
        <td><%= layer.arydrag %></td>
        <td><%= layer.zval %></td>
        <td><%= link_to 'Show', layer %></td>
        <td><%= link_to 'Edit', edit_layer_path(layer) %></td>
        <td><%= link_to 'Destroy', layer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Layer', new_layer_path %>
