<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @layer.user %>
</p>

<p>
  <strong>Drawdata:</strong>
  <%= @layer.drawdata %>
</p>

<p>
  <strong>Z val:</strong>
  <%= @layer.z_val %>
</p>

<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>
