<p id="notice"><%= notice %></p>

<p>
  <strong>Aryx:</strong>
  <%= @layer.aryx %>
</p>

<p>
  <strong>Aryy:</strong>
  <%= @layer.aryy %>
</p>

<p>
  <strong>Arydrag:</strong>
  <%= @layer.arydrag %>
</p>

<p>
  <strong>Zval:</strong>
  <%= @layer.zval %>
</p>

<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %>
